src/main/mule/dynamic-insertion-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="edc6147d-5d93-4a7e-a648-dc62bb7327a9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a1467cb7-4d3c-4134-8988-11e4dda6950b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="*****" database="watermark" />
	</db:config>
	<flow name="dynamic-insertion-pocFlow" doc:id="0c4ffefd-7224-4055-acaf-75406673a620" >
		<http:listener doc:name="Listener" doc:id="ab19ef0a-6555-420a-97c0-814e5ba5675e" config-ref="HTTP_Listener_config" path="/insert"/>
		<logger level="INFO" doc:name="Logger" doc:id="a4dd68f1-f440-4ca4-8e45-b37168b58f26" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="9bfb8b26-1e5d-4adb-8d20-518564bc6382">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="values"><![CDATA[%dw 2.0
output application/java
var values = (valuesOf(payload."1") reduce ((item, accumulator="") -> 
accumulator ++ "'" ++ item ++ "'" ++ ",")) [0 to -2]
---
values]]></ee:set-variable>
				<ee:set-variable variableName="tableName"><![CDATA[%dw 2.0
output application/json
---
if(payload."0".table == "persons") payload."0".table
else "persons_default"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="263d8e87-ba3c-41c6-9c7c-3113104190ef" config-ref="Database_Config">
			<db:sql ><![CDATA[#["insert into $(vars.tableName) values($(vars.values))"]
 ]]></db:sql>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="be187b77-90ca-412f-b388-198c62dcf454" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
	</flow>
</mule>
